@page
@model IndexModel
@{
    ViewData["Title"] = "Transaction list";
}

<div class="text-center">

    <form class="form-inline">

        <div class="form-group mb-2">
            <label for="currency" class="mr-2">Currency:</label>
            <select asp-for="Currency" id="currency" class="form-control mb-2 mr-sm-2"
                    asp-items="@(Model.CurrencyList)">
                <option>-</option>
            </select>
        </div>

        <div class="form-group mb-2">
            <label for="status" class="mr-2">Status:</label>
            <select asp-for="Status" id="status" class="form-control mb-2 mr-sm-2"
                    asp-items="@(Model.StatusList)">
                <option>-</option>
            </select>
        </div>

        <div class="form-group mb-2 input-group input-daterange">
            <div class="input-group-addon mr-2">From Date:</div>
            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", type = "text" } })

            <div class="input-group-addon mr-2">To Date:</div>

            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", type = "text" } })
        </div>

        <button type="button" class="btn btn-primary ml-2" id="filter">Apply Filter</button>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Payment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Transactions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}
@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('.input-daterange input').each(function () {
            $(this).datepicker();
        });


        $("#filter").click(function () {

            window.location.href = 'Index?currency=' + $("#currency").val() + '&status=' + $("#status").val() + '&from=' + $("#FromDate").val() + '&to=' + $("#ToDate").val();
        });

    </script>
}
