@page
@model IndexModel
@{
    ViewData["Title"] = "Transaction list";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Payment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Status)
                </th>            
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Transactions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                
                    <td>
                     
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
